html{
    background-image: url(img/background.png); 
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    color: #666;
}


.container{
    display: flex;

    margin-top: 20px;
    width: 1240px;
}
.block1{
    background-color:#fff ;
    text-align:center;
    height: 50px;
    width:412px;
    padding: 1px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.bold-text{
    font-size: 22px;
    font-weight: bold;
}

.block2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
button{
    background-color: #25975A;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border:none;
    padding: 10px 25px 10px 25px;
    font-weight: bold;
}
.button_1:hover{
    background-color: #fff;
    color: black;
}
.block3{
    color: #fff;
    display: flex;
    align-items: center;
}
.block4 input{
    border:none;
    border-left: none;
    padding-right: 6px;
 
    }

.block5{
    background-color: #fff;
    display:flex;
    align-items: center;
   position: relative;
    width: 408px; 
    height: 40px;
    margin-top: 20px;
    border: 1px solid #e5e5e5;
    padding: 2px;
    padding-left: 8px;
}
.block5 input{
    width: 365px;
}
input:focus {outline: 0;}


.block6
{
    background-color: #fff;
    margin-top: 15px;;
    padding-top: 0;
    width: 420px;
    height: 100px;
    overflow: auto;
}

ul
{
    padding: 0px;
    padding-top: 0;
    display: block;
    list-style: none;
}

li
{
    padding-top: 0;
    margin: 0;
    list-style: none;
    display: list-item;
    font-size:16px;
    color: #666;
 
}
li:hover
{
    background-color: #25975A;
    color: #666;
}

.block7
{
    background-color: #fff;
    margin-top: 15px;;
    padding-top: 0;
    width: 415px;
    height: 50px;
    overflow: auto;
    font-weight: bold;
    padding-left: 5px;
    color: #666;
    font-size: 15px;
}



.first-table{
    margin-top: 20px;
    background-color: #c7c4c4;
    color: #fff;
    text-align: center;
    font-size: 15px;

}
.firs-line{
    width: 41px;
    height: 23px;
    margin: 0;
    padding: 0;
    background-color: #25975A;
}

.line{
 
    background-color: #fff;
    height: 23px;
    margin: 0;
    padding: 0;
}

.first-column{
    width: 115px;
    height: 23px;
    margin: 0;
    padding: 0;
    background-color: #25975A;
    font-size: 17px;
}
.first-column:hover{
    background-color: #f0eea8;
    color: black;
    border: #666 solid 1.5px;
}

.line-L{
    background-color:#f7c0fc ;
}

.line-P{
    background-color:#ebe53b ;
}
.block8{
    width: 420px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    white-space: pre;
    font-size: 13px;
}

.tableLegend{
    color: #fff;
}

.Orar{
    padding: 0;
    border: #fff solid 1px;
    border-radius: 2px;
    width: 120px;
    height: 30px;
    font-size: 13px;
    vertical-align: middle;
}

.Examene{
    background-color: #e4589e;
    padding: 0;
    vertical-align: middle;
    border-radius: 2px;
    width: 120px;
    height: 30px;
    font-size: 13px;

}

.Planificare{
    background-color: #5c2b59;
    padding: 0;
    vertical-align: middle;
    border-radius: 2px;
    width: 120px;
    height: 30px;
    font-size: 13px;
}

.Orar:hover{
    background:;
    color: original-color;
}

.right-column{
    width: 700px;
    justify-content: center;
    display: grid;
}
.logo{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#Name{
    margin: 0;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    padding: 0;
    text-align: center;
}

.second-table{
    
    justify-content: center;
    align-items: center;
    border-spacing: 0px;
}

.second-column{
    background-color: #fff;
    border: #666 solid 1.5px;
    padding: 0;
    width: 400px;
    line-height: 0.5;
    padding: 0;
    text-align: center;
}

.column-1{
    background-color: #25975A;
    border: #fff solid 1.5px;
    width: 140px;
    height: 50px;
    color: #fff;
    text-align: center;
}

.first-line{
    font-weight: bold;

}

.column-1:hover{
    background-color: #f5f2ad;
    color: black
}